<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
  />
</head>
<body>
<div class="container">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Mail Ape</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"
           href="{% url 'mailinglist:mailinglist_list' %}">
          Your Mailing Lists
        </a>
      </li>
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link"
             href="{% url 'user:logout' %}">
            Logout
          </a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link"
             href="{% url 'user:login' %}">
            Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             href="{% url 'user:register' %}">
            Register
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
  {% block body %}
  {% endblock %}
</div>
</body>
</html>