{% extends "base.html" %}

{% block title %}
  Thank you for subscribing to {{ mailinglist }}
{% endblock %}

{% block body %}
  <div class="col-sm-12">
    <h1>
      Thank you for subscribing
      to {{ mailinglist }}
    </h1>
    <p>Check your email for a confirmation email.</p>
  </div>
{% endblock %}