{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  Subscribe to {{ mailing_list }}
{% endblock %}

{% block body %}
  <h1>Subscribe to {{ mailing_list }}</h1>
  <form method="post" class="col-sm-6">
    {% csrf_token %}
    {{ form | crispy }}
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
{% endblock %}